img{
  margin: 1em;
}

.rotate {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
      transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}
		to {
      transform: rotate(359deg);
			-webkit-transform: rotate(359deg);
		}
}
